## Write a Pandas program to get lowest n records within each group of a given DataFrame.

In [1]:
import pandas as pd

In [4]:
def n_lowest(d: dict, col: str, n: int):
    df = pd.DataFrame(d)
    return df.nsmallest(n, col)

In [6]:
n_lowest({'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]},'col2', 3)

   col1  col2  col3
5    11     0    11
0     1     4     7
1     2     5     5

In [7]:
n_lowest({'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]},'col3', 3)

   col1  col2  col3
4     7     5     1
1     2     5     5
0     1     4     7