## GroupBy and Applying Multiple Aggregations with Named Functions:
## Write a Pandas program to apply multiple aggregations with named functions in GroupBy for detailed data analysis.

In [1]:
import pandas as pd

In [6]:
def multiple_aggregations():
    df = pd.DataFrame({
        'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [5, 10, 15, 20, 25, 30],
        'Value2': [50, 100, 150, 200, 250, 300]
        })
    
    return df.groupby('Category').agg(Total_Value1=('Value1','sum'), Total_Value2=('Value2','mean'))

In [7]:
multiple_aggregations()

          Total_Value1  Total_Value2
Category
A                   15          75.0
B                   35         175.0
C                   55         275.0