## Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.

In [1]:
import pandas as pd

In [2]:
def replace_null(d1: dict, d2: dict):
    df1 = pd.DataFrame(d1)
    df2 = pd.DataFrame(d2)
    
    return df1.combine_first(df2)

In [3]:
replace_null({'A': [None, 0, None], 'B': [3, 4, 5]}, {'A': [1, 1, 3], 'B': [3, None, 3]})

     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0