## Write a Pandas program to create a Pivot table and find the probability of survival by class, gender, solo boarding and port of embarkation.

In [1]:
import pandas as pd

In [3]:
def find_probability():
    df = pd.read_csv('titanic.csv')
    
    return df.pivot_table('survived', ['sex','alone'], ['embark_town','class'])

In [4]:
find_probability()

embark_town  Cherbourg                     Queenstown                   \
class            First    Second     Third      First Second     Third
sex    alone
female False  1.000000  1.000000  0.611111        1.0    NaN  0.625000
       True   0.944444  1.000000  0.800000        NaN    1.0  0.760000
male   False  0.473684  0.166667  0.500000        0.0    NaN  0.100000
       True   0.347826  0.250000  0.151515        NaN    0.0  0.068966

embark_town  Southampton
class              First    Second     Third
sex    alone
female False    0.941176  0.923077  0.327586
       True     1.000000  0.892857  0.466667
male   False    0.407407  0.300000  0.142857
       True     0.326923  0.089552  0.123762