##  Perform a cross-tabulation between two columns in a DataFrame.

In [1]:
import pandas as pd

In [2]:
def cross_tabulation():
    df = pd.DataFrame({'Category': ['A', 'B', 'A', 'B', 'C', 'A', 'C', 'C', 'B', 'A'],
                        'Value': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]})
    
    return pd.crosstab(df['Category'], df['Value'])

In [3]:
cross_tabulation()

Value     10  15  20  25  30  35  40  45  50  55
Category
A          1   0   1   0   0   1   0   0   0   1
B          0   1   0   1   0   0   0   0   1   0
C          0   0   0   0   1   0   1   1   0   0