## Perform a rolling calculation on a numerical column in a DataFrame.

In [1]:
import pandas as pd

In [2]:
def rolling_calculation():
    df = pd.DataFrame({'Value': [10, 15, 20, 25, 30, 35, 40, 45, 50]})
    
    mean = df['Value'].rolling(window=3).mean()
    
    df['Rolling_Mean'] = mean
    
    return df

In [3]:
rolling_calculation()

   Value  Rolling_Mean
0     10           NaN
1     15           NaN
2     20          15.0
3     25          20.0
4     30          25.0
5     35          30.0
6     40          35.0
7     45          40.0
8     50          45.0